:root {
    --link-hover-color: rgb(219, 233, 238);
}

* {
    padding: 0px;
    margin: 0px;

}

nav {
    padding: 30px;
    text-align: left;
    font-size: 22px;
    background-color: rgb(230, 81, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
    position: fixed;
    width: 100%;

}

nav a:hover {
    color: rgb(255, 255, 255)
}

img.logo {
    width: 85px;
    height: 85px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
}

a {
    color: rgb(0, 0, 0);

}

nav a:hover {
  color: var(--link-hover-color);
}

.titleScreen {
    text-align: center;
    padding: 10px;
    font-size: 48px;
    padding-top: 400px;
    padding-bottom: 500px;
    background-color: rgb(3, 155, 229);
    color: rgb(255, 255, 255);

}

.introduction {
    padding-top: 70px;
    padding-left: 550px;
    padding-right: 550px;
    padding-bottom: 50px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 179, 0);

}

.author {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    font-style: italic;

}

.title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
    font-style: italic;

}

.p1 {
    font-size: 20px;
    padding: 20px;
    text-align: left;


}

.p2 {
    font-size: 20px;
    padding: 20px;
    text-align: left
}


.p3 {
    font-size: 20px;
    padding: 20px;
    text-align: left
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    row-gap: 40px;
}

.mainLeft {
    flex: 1;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    margin: 0px;

}

.mainRight {
    flex: 1;
    background: #e0e0e0;
    padding-left: 75px;
    padding-right: 350px;
    border-radius: 8px;
    margin: 0px;
    font-size: 20px;

}

footer {
    background-color: rgb(230, 81, 0);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: left;
    font-size: 18px;
    padding-left: 550px;
    text-align: left;

}

footer a {
    color: rgb(21, 10, 174);
}

footer a:hover {
    color: rgb(81, 61, 213);

}
.fade-in-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

footer::after {
  content: "";
  height: 0.4em;
  width: 100%;
  background: rgb(5, 5, 5);
  inset-inline-start: 0;
  top: 140px;
  position: fixed;
  transform-origin: top left;
  animation: grow-progress linear;
  animation-timeline: scroll();
  opacity: 0.5;
}

@keyframes grow-progress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}
